<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Namespaces</strong>
            </div>
            <div class="panel-body">
                <ul class="list-group" id="namespace-list"></ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Details</strong>
            </div>
            <div class="panel-body" id="namespace-details"></div>
        </div>
    </div>
</div>
