<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Reports of {{type}}</strong>
    </div>
    <div class="panel-body">
        <span>Filter by {{filter}}: </span>
        <select id="filters-reports-list">
            <option value="">All</option>
        </select>
        <!--<div class="btn-group dropdown">-->
            <!--<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><span>{{filter}}</span>&nbsp;<span class="caret"></span></button>-->
            <!--<ul id="filters-reports-list" class="dropdown-menu" role="menu"></ul>-->
        <!--</div>-->
        <table class="table table-hover table-bordered" id="table-items-reports" style="margin-top: 10px;"></table>
    </div>
</div>
