<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-md-2">Name:</label>
        <div class="col-md-10">
            <input value="{{job.name}}" disabled type="text" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">Status:</label>
        <div class="col-md-10">
            <input value="{{job.status}}" disabled type="text" class="form-control">
        </div>
    </div>
    <h4 class="text-center">Request data</h4>
    {{#each job.request}}
        <div class="form-group">
            <label class="control-label col-md-2">{{@key}}:</label>
            <div class="col-md-10">
                <input value="{{this}}" disabled type="text" class="form-control">
            </div>
        </div>
    {{/each}}
    <div id="records-details-bulk-job"></div>
    <div class="text-center">
        <button id="records-get-button-bulk" class="btn btn-primary">Get records</button>
    </div>
</form>