{{#each jobs}}
    <li class="list-group-item"><a style="color: inherit;" href="javascript:void(0);" data-id="{{id}}" class="job-link">{{name}} - <span class="text-muted">{{getHowLongAgo created_at}}</span></a></li>
{{/each}}