<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Jobs</strong>
            </div>
            <div class="panel-body">
                <ul class="list-group" id="jobs-bulk-list">
                    <li class="list-group-item"><i class="fa fa-spinner fa-spin"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Details</strong>
            </div>
            <div class="panel-body" id="jobs-bulk-details"></div>
        </div>
    </div>
</div>