<ul class="list-group">
    <li class="list-group-item text-center" style="padding: 0px;">
        <h4>Users allowed to operate this scheme</h4>
    </li>
    {{#each permissions}}
        <li class="list-group-item">{{username}}</li>
    {{/each}}
</ul>