<p>Name: {{item.scheme}}
    {{#if edit}}
        <button tabindex="-1" id="close-button-schemes" class="pull-right btn btn-warning" style="" type="button">Close edition</button>
    {{else}}
        <button tabindex="-1" id="edit-button-schemes" class="pull-right btn btn-default" type="button">Edit</button>
    {{/if}}
</p>
<p>Description: Modified at {{item.modified_at}}</p>
<br>
<div id="schemes-permissions-configure"></div>