<ul class="list-group">
    <li class="list-group-item text-center">
        <h4 style="display: inline-block; margin: 0px;">Permissions from group {{groupName}}</h4>
    </li>
    {{#each users}}
        <li class="list-group-item">
            {{@this}}
        </li>
    {{/each}}
</ul>