{{#each items}}
    <li class="list-group-item"><a href="javascript:void(0);" data-id="{{name}}" class="item-link">{{name}}</a></li>
{{/each}}
<li class="list-group-item text-center"><button id="create-new-{{type}}" class="btn btn-default" type="button">Create a new one</button></li>