{{#each items}}
    <li class="list-group-item"><a style="color: inherit;" href="javascript:void(0);" data-id="{{namespace}}" class="item-link">{{namespace}} - {{organizationName}}</a></li>
{{/each}}
<li class="list-group-item text-center"><button id="create-new-{{type}}" class="btn btn-default" type="button">Create a new one</button></li>